body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.flex-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.one, .two, .three, .four, .five, .six, .seven{
	opacity: 0.85;
	border: 2px solid cyan;
	padding: 5px;
	box-sizing: border-box;
}

.one{
	background: #dee8fb;
	width: 327px;
	min-width: 327px;
}

.two{
	background: orange;
	width: 100%;
	text-align: right; 	
}

.three{
	background: black;
	width: 35%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.four{
	background: yellow;
	width: 65%;
}

.five{
	background: grey;
	width: 65%;
}

.six{
	background: #366bd0;
	width: 35%;
	text-align: center;
}

.seven{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	background: green;
	width: 100%;
}

img{
	box-sizing: border-box;
}

.line1, .line2, .line3{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

@media screen and (max-width: 620px){
	.line1{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column; 
		min-width: 327px;
	}


}
@media screen and (max-width: 768px){
	.line2, .line3, .seven{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		min-width: 327px;
	}
	.one{
		max-width: 327px;
          display:flex;
	}
     .line1{
     	display:flex;
     	align-content: center;
     	align-items: center;
     }
     .two {
     	height:auto;
     }
	img{ 
		width: 50%;
	}
	.line1 .one, .line1 .two, .line2 .three, .line2 .four, .line3 .five, .line3 .six, .seven{
		width: 100%;
		border-radius: 8px;
		margin-top: 8px;
		margin-right: 8px;
	}
}
.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover{
	opacity: 1;
}